<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select id="ddlViewBy">
        <option value="WC">Westen Cape</option>
        <option value="KZN" selected="selected">KwaZulu Natal</option>
        <option value="JHB">Joburg</option>
      </select>
      <select id="ddlViewBy">
        <option value="Apartment">Apartment</option>
        <option value="Cottage" selected="selected">Cottage</option>
        <option value="Penthouse">Penthouse</option>
      </select>
      <select id="ddlViewBy">
        <option value="-50k">20k-50k</option>
        <option value="-80k" selected="selected">51k-80k</option>
        <option value="-120k">81k-120k</option>
      </select>
      <select id="ddlViewBy">
        <option value="1R">1 Room</option>
        <option value="2R" selected="selected">2 Rooms</option>
        <option value="3R">3 Rooms</option>
      </select>
      <select id="ddlViewBy">
        <option value="1B">1 Bathroom</option>
        <option value="2B" selected="selected">2 Bathrooms</option>
        <option value="3B">3 Bathrooms</option>
      </select>


    <script defer src="../Test/test.js"></script>
</body>
</html>