<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Source/css/test.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document2</title>
</head>
<body>
      <!-- This is the responsive nav bar -->
      <div class="parallax"></br>
        <!-- The parallax has an img that disapears once scrolling down -->
        <div class="header" style="padding-left:16px">
          <h1>Find Your Property</h2>
          <!-- styling the main text -->
        </div>
      <div class="center">
    <select id="pronvince" class="filterable">
        <option value="" style="color:#303841;">Pronvince</option>
        <option value="Western Cape" style="color:#303841;">Western Cape</option>
        <option value="KwaZulu Natal" style="color:#303841;">KwaZulu Natal</option>
        <option value="Johannesburg" style="color:#303841;">Johannesburg</option>
      </select>
      <select id="propertyT" class="filterable">
        <option value="" style="color:#303841;">Property Type</option>
        <option value="Apartment" style="color:#303841;">Apartment</option>
        <option value="Cottage" style="color:#303841;">Cottage</option>
        <option value="Penthouse" style="color:#303841;">Penthouse</option>
      </select>
      <select id="rooms" class="filterable">
        <option value="" style="color:#303841;">Rooms</option>
        <option value="1 Room" style="color:#303841;">1 Room</option>
        <option value="2 Rooms" style="color:#303841;">2 Rooms</option>
        <option value="3 Rooms" style="color:#303841;">3 Rooms</option>
      </select>
      <select id="bathrooms" class="filterable">
        <option value="" style="color:#303841;">Bathrooms</option>
        <option value="1 bathroom" style="color:#303841;">1</option>
        <option value="2 bathrooms" style="color:#303841;">2</option>
        <option value="3 bathrooms" style="color:#303841;">3</option>
      </select>
      <select id="priceRange" class="filterable">
        <option value="" style="color:#303841;">Price Range</option>
        <option value="R200K-R490K" style="color:#303841;">R200K-R490K</option>
        <option value="R500K-R690K" style="color:#303841;">R500K-R690K</option>
        <option value="R700K-R790K" style="color:#303841;">R700K-R790K</option>
        <option value="R800K+" style="color:#303841;">R800K+</option>
      </select>

      
    </div></br>
    <!-- this part categorises the dropdown options and making it onclick -->
    
    </div>
    
  </br>
      <div id="PropertyDiv"></div>
      <!-- Calling all the info from the js file, the functionality and the display form -->
      <span id="Found"> </span>

     

        

      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }

    // making the nav responsive and displaying once its clicked
      </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script defer src="../../Source/javascript/test2.js"></script>
    <!-- all the script tags linked to js -->
  </div>
</body>
</html>